__pycache__
.idea/
.lprof/
pytcpl.egg-info/

dist/*
dist/.gitkeep

docs/*
docs/.gitkeep

pytcpl/export/*
!pytcpl/export/.gitkeep

pytcpl/profile/*
!pytcpl/profile/.gitkeep

pytcpl/app.py
pytcpl/test.py



