
PyYAML
SQLAlchemy
build
git+https://github.com/streamlit/files-connection
joblib
matplotlib
mysql-connector-python
numpy
pandas
pipreqs
plotly
s3fs
scipy
snakeviz
sphinx
sphinx_rtd_theme
streamlit
tqdm
