imbalanced_learn==0.10.1
joblib==1.2.0
matplotlib==3.7.1
mysql-connector-python
numpy==1.24.3
pandas==2.0.2
plotly==5.15.0
PyYAML==6.0
scikit_learn==1.2.2
scipy==1.11.1
SQLAlchemy
streamlit==1.23.1
tqdm==4.65.0
xgboost==1.7.6
